* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif !important;
}

.head1 {
    background-image: url(./img-vedio-audio/Rectangle\ 30.png);
    width: 100%;
    height: 725px;
}

.head1 nav {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: end;
}

.head1 nav ul {
    display: flex;
    margin-right: 100px;
    align-items: center;
    gap: 20px;
}

.head1 nav ul li {
    list-style: none;
}

.head1 nav ul a {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 140%;
    text-align: right;
    text-decoration: none;
}

.head1 .in {
    font-size: 54px;
    color: white;
    position: absolute;
    left: 250px;
    bottom: 35px;
    font-family: Circe;
    font-weight: 700;
    font-style: Bold;
    line-height: 140%;
    letter-spacing: 0%;
}

.left {
    width: 100px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #333333;

    .tr {
        margin-top: 30px;
        margin-left: 5px;
    }

    .th {
        margin-top: 400px;
        margin-left: 20px;
    }
}

.d10 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    padding: 90px;
    background-color: white;
    height: 500px;
}

.di13 {
    font-family: Circe;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 120px;
    letter-spacing: 0%;
    padding-left: 100px;
}

.di14 {
    font-family: Circe;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
}

.d1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
}

.d1 section {
    margin-top: 100px;
}

.d1 section img {
    width: 336px;
    height: 240px;
}

.d1 section h1 {
    margin-top: 10px;
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #333333;
}


.d2 {
    margin-top: 150px;

}

.d2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.d2 section {
    margin-top: 100px;
}

.d2 section h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #333333;
    margin-bottom: 200px;
}

.d2 section p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #333333;
    padding-bottom: 60px;
}

.d2 section button {
    width: 200px;
    height: 50px;
    background: #b59571;
    border: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
}

.d2 section input {
    margin-left: 10px;
    width: 250px;
    height: 50px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #333333;
    padding-left: 20px;
}

.d3 {
    margin-top: 150px;
}

.d3 img {
    width: 1280px;
    height: 550px;
    margin-left: 50px;
}

.d4 {
    width: 100%;
    height: 120px;
    background-color: #333333;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.d4 img {
    width: 80px;
    height: 46px;
}

.d4 h3 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #ffffff;
}




.menu img {
    width: 78%;
    margin-left: 12%;
    height: 950px;
}


















.h2 {

    nav {
        display: flex;
        width: 100%;
        height: 70px;
        justify-content: end;

        ul {
            display: flex;
            margin-right: 150px;
            align-items: center;
            gap: 20px;

            p {
                font-family: Circe;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                color: #333333;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: right;

            }
        }
    }
}


.chap {
    width: 100px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #333333;

    .tp {
        margin-top: 30px;
        margin-left: 5px;
    }

    .tb {
        margin-top: 400px;
        margin-left: 20px;
    }
}



.nav {
    display: flex;
    width: 80%;
    height: 50px;
    margin-top: 50px;
    margin-left: 10%;
    justify-content: space-around;
    align-items: center;

    p {
        font-family: Circe;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        color: #333333;
    }

}


.pt {
    width: 82%;
    height: 500px;
    margin-top: 900px;
    margin-left: 10%;
    display: flex;

    .t1 {
        padding-left: 50px;
        padding-top: 20px;
        font-family: Circe;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 140%;
        color: #333333;
        letter-spacing: 0%;
        text-transform: uppercase;

    }

    .t2 {
        width: 500px;
        height: 380px;
        margin-top: 60px;

        .tep1,
        .tep2 {
            display: flex;
            justify-content: space-around;

            .b1 {
                margin-top: 10px;
                width: 45%;
                height: 180px;

                .df {

                    display: flex;
                    margin-left: 10px;
                    align-items: center;
                    gap: 20px;

                    h1 {
                        font-family: Circe;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 64px;
                        color: #B59571;
                        line-height: 120%;
                        letter-spacing: 0%;

                    }

                    p {
                        font-family: Circe;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 32px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        color: #B59571;
                    }



                }

                span {
                    font-family: Circe;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 140%;
                    letter-spacing: 0%;
                    padding-left: 20px;

                }
            }

            .b2 {
                margin-top: 10px;
                width: 45%;
                height: 180px;

                h1 {
                    font-family: Circe;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 64px;
                    color: #B59571;
                    line-height: 120%;
                    letter-spacing: 0%;

                }

                p {
                    font-family: Circe;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 32px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    color: #B59571;
                }



            }

            span {
                font-family: Circe;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0%;
                padding-left: 20px;

            }
        }
    }
}

.pos {
    width: 400px;
    height: 350px;
    background: #5B5B5B;
    position: absolute;
    top: 1170px;
    left: 600px;

    p {
        font-family: Circe;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        padding-top: 20px;
        padding-left: 20px;
        color: white;
    }

    .btn {

        display: flex;

        button {
            width: 40%;
            height: 40px;
            margin-left: 5%;
            margin-top: 30px;
            border: 2px solid white;
        }

        .btn1 {
            background: #B59571;
        }

        .btn2 {
            background: none;
        }
    }



}

.img {
    width: 700px;
    height: 400px;
    position: absolute;
    top: 1150px;
    left: 700px;
    z-index: -10;
}



footer {
    width: 100%;
    height: 60px;
    margin-top: 0px;
    background: #333333;
    position: absolute;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        ul li {
            text-decoration: none;
            list-style: none;
        }
    }
}


.chp {
    position: absolute;
    top: 1100px;
}